{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Simulación</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-emerald-300 via-amber-200 to-brown-300 text-gray-800 min-h-screen w-full overflow-x-hidden">
    <div class="max-w-4xl mx-auto px-4 py-6">

        <!-- Título -->
        <h1 class="text-5xl font-bold text-center mb-10 text-green-800 tracking-wide drop-shadow-md mt-6">Resultado de la Simulación</h1>

        <!-- Mensaje de Resultado -->
        {% if es_optimo %}
            <div class="bg-green-100 text-green-800 border border-green-300 rounded-lg shadow-lg px-6 py-4 mb-6 animate-pulse transition-all duration-300 ease-in-out">
                <p><strong>¡Éxito!</strong> Los valores ingresados son óptimos para el cultivo <strong>{{ simulacion.cultivo.get_tipo_cultivo_display }}</strong>.</p>
            </div>
        {% else %}
            <div  class="bg-red-100 text-red-800 border border-red-300 rounded-lg shadow-lg px-6 py-4 mb-6 animate-pulse  transition-all duration-300 ease-in-out">
                <p><strong>¡Advertencia!</strong> Los valores ingresados no son óptimos para el cultivo <strong>{{ simulacion.cultivo.get_tipo_cultivo_display }}</strong>.</p>
            </div>
        {% endif %}

        <!-- Detalles de la Simulación -->
        <h3 class="text-2xl font-semibold mb-4">Detalles de la Simulación:</h3>
        <div class="bg-gray-50 border border-black rounded-lg shadow-xl hover:shadow-2xl px-6 py-4 mb-6">
            <ul class="space-y-2 text-gray-700">
                <li><strong>Campo:</strong> {{ simulacion.campo.nombre }}</li>
                <li><strong>Humedad ingresada:</strong> {{ simulacion.humedad_ingresada }} %</li>
                <li><strong>Temperatura ingresada:</strong> {{ simulacion.temperatura_ingresada }} °C</li>
                <li><strong>Precipitación ingresada:</strong> {{ simulacion.precipitacion_ingresada }} mm</li>
            </ul>
        </div>

        <!-- Valores Óptimos para el Cultivo -->
        <h3 class="text-2xl font-semibold mb-4">Valores Óptimos para el Cultivo:</h3>
        <div class="bg-gray-50 border border-black rounded-lg shadow-xl hover:shadow-2xl px-6 py-4 mb-6">
            <ul class="space-y-2 text-gray-700">
                <li><strong>Humedad mínima:</strong> {{ valores_optimos.humedad_minima }} %</li>
                <li><strong>Humedad máxima:</strong> {{ valores_optimos.humedad_maxima }} %</li>
                <li><strong>Temperatura mínima:</strong> {{ valores_optimos.temperatura_minima }} °C</li>
                <li><strong>Temperatura máxima:</strong> {{ valores_optimos.temperatura_maxima }} °C</li>
                <li><strong>Precipitación mínima:</strong> {{ valores_optimos.precipitacion_minima }} mm</li>
                <li><strong>Precipitación máxima:</strong> {{ valores_optimos.precipitacion_maxima }} mm</li>
            </ul>
        </div>



        <!-- Botón para realizar una nueva simulación -->
        <div class="mt-10 text-center">
            <a href="{% url 'realizar_simulacion' %}" class="block bg-blue-500 text-white px-4 py-3 text-lg rounded-xl transition-all duration-300 ease-in-out hover:bg-blue-700 hover:scale-105 hover:shadow-lg">
                Volver a realizar una simulación
            </a>
        </div>
    </div>
</body>
</html>

