<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaia</title>
</head>
<body>
    <nav>
        <ul>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'registrarse' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </nav>

    <h1>Bienvenido a Gaia!!!</h1>

    {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.username }}!</p>

        <a href="{% url 'admin_campos' %}">Administrar mis campos</a> <br>

        <a href="{% url 'admin_cultivos' %}">Administrar mis cultivos</a> <br>

        <a href="{% url 'admin_plagas' %}">Administrar plagas</a> <br>

        <a href="{% url 'admin_planificaciones' %}">Planificar cultivos</a> <br>

        <a href="{% url 'admin_pesticidas' %}">Administrar pesticidas</a> <br>

        <a href="{% url 'admin_fertilizantes' %}">Administrar fertilizantes</a> <br>

        <a href="{% url 'realizar_simulacion' %}">Iniciar Simulacion</a> <br>

        <a href="{% url 'lista_preguntas' %}">Foro de preguntas y respuestas</a>

        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>

    {% else %}
        <p>No has iniciado sesión.</p>
    {% endif %}

</body>
</html>
